@import "tailwindcss";

@theme {
  --color-primary: oklch(82.8% 0.189 84.429);
  --color-primary-hover: oklch(76.9% 0.188 70.08);
  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;
  --color-app: oklch(21% 0.006 285.885);
}

body {
  @apply bg-app font-mono text-zinc-50;
}
