@import "tailwindcss";

@theme {
  --color-primary: oklch(62.7% 0.265 303.9);
  --color-primary-hover: oklch(55.8% 0.288 302.321);
  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;
  --color-app: oklch(21% 0.006 285.885);
}

body {
  @apply bg-app font-mono text-zinc-50;
}
